
html, body {
 background-color: burlywood;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  padding-left: 70px;
  padding-right: 40px;
  padding-top: 20px;
}

#img-div {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 30px;
  position: relative;
  left: 500px;
}

#img-caption {
  font-size: 1.6rem;
  width: 83vw;
  padding-top: 20px;
}

figure {
  margin-bottom: 50px;
}

h3 {
  font-size: 2rem;
  color: cadetblue;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
}

a {
  color: cadetblue;
}

.title {
  margin-top: -5px;
  padding-bottom: 15px;
}

p {
  line-height: 1.8em;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-size: 28px;
}

iframe {
  float: right;
  border: 4px rgb(182, 150, 150)
}


/* BLOCKQUOTE */
blockquote {
  font-weight: 800;
  font-size: 25px;
  line-height: 1.8em;
  letter-spacing: 0.05em;
}

/*body { quotes: '\201c' '\201d'; }
blockquote:before { content: open-quote; }
blockquote:after  { content: close-quote; }*/

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 80px;
  font-weight: bold;
  color: cadetblue;
  
  /*Positioning*/
  position: relative;
  left: 0.9rem;
  bottom: -1.6rem;
}

blockquote::after{
  content: "\201D"; /*Unicode for Right Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 80px;
  font-weight: bold;
  color: cadetblue;
  
  /*Positioning*/
  position: relative;
  left: -0.8rem;
  bottom: -1.4rem;
}

footer {
  text-align: center;
}