@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Quintessential');

body {
 background-color: #CCC;
 margin: 5px 3px 0 3px;
}
.jumbotron {
  color: #999;
}

.text-center {
  font-family: Droid Sans, Helvetica, serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 61px;
  font-size: 30px;
}

#martin_luther {
  text-align: center;
  padding-top: 25px;
  font-size: 1.8em;
}

p {
  line-height: 1.8em;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-family: Quintessential, Helvetica, serif;
  font-size: 25px;
}

blockquote {
  line-spacing: 1.8em;
  letter-spacing: 0.05em;
}
